.imgPreview {
  margin: 0 auto;
  display: block;
  margin-bottom: 5px;
  border-radius: 8px;
 }
 
 #closeLink {
   text-decoration: none;
   cursor: pointer;
   color: #DC2626;
   font-weight: 500;
   margin: 20px auto;
   margin-left: 5px;
   display: block;
 }
 
 #closeLink:hover {
   color: #282727b5;
   font-weight: 500;
 }
 