.text {
  border-radius: 8px;
  background-color: #dfdfdf3b;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 375px;
  margin: 0 auto;
  margin-top: 50px;
  color: rgba(0, 0, 0, 0.482);
}